
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%; /* Taille de l'image sur les écrans mobiles (par défaut) */
}

@media (min-width: 500px) {
  .hero-background {
    background-size: 80%; /* Taille de l'image sur les écrans plus grands */
  }
}

